<IfModule mod_rewrite.c>
    RewriteEngine On
    # Esto le dice al servidor que busque el index.php de la raíz
    RewriteRule ^$ index.php [L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>