<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si la petición no empieza con /public, la mandamos para allá
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>