<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Esto soluciona el error "No input file specified"
    RewriteRule ^$ index.php [L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # La clave es el punto de interrogación después de index.php
    RewriteRule ^ index.php? [L]
</IfModule>